@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --french-gray: #bec8da;
  --old-rose: #c17767;
  --charcoal: #363f4f;
  --lapis: #47698f;
  --rich-black: #11151d;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}
